<div class="container">
  <div class="loading" *ngIf="loading">
    loading
  </div>

  <div class="post-content" *ngIf="!loading">
    <ul>
      <li *ngFor="let post of posts">
        <a href="http://ozandundar.com/test/{{ post.slug  }}" target="_blank">{{ post.title }}</a>
      </li>
    </ul>
  </div>

  <div class="post-content" *ngIf="!loading">
    <div>Id: {{ data.id }}</div>
    <h2>{{ data.title }}</h2>
    <div>Slug: {{ data.slug }}</div>
    <div>Content: <span [innerHTML]="data.content"></span></div>
    <div>Status: {{ data.status }}</div>
    <div *ngIf="data.attachments">
      <div *ngFor="let attachment of data.attachments">
        <img [src]="attachment.url" [width]="attachment.width" [height]="attachment.height" />
      </div>
    </div>
  </div>
</div>
